[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
	ignore = dirty
[submodule "lib/dss-deploy"]
	path = lib/dss-deploy
	url = https://github.com/makerdao/dss-deploy
	ignore = dirty
